<% conversation.messages.order(:created_at).each do |message| %>
  <% if @conversation.sender == message.sender %>
    <% other = @conversation.receiver.username %>
  <% else %>
    <% other = @conversation.sender.username %>
  <% end %>
  <input type="hidden" id="user_<%= current_user.username %>" name="userId" value="user_<%= current_user.username %>">
  <% if message.sender == member %>
    <div class="d-flex justify-content-start mb-4">
      <div class="img_cont_msg">
        <% if message.sender.images.attached? %>
          <%= image_tag message.sender.images.first, class: 'rounded-circle img-fluid' %>
        <% else %>
          <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle img-fluid">
        <% end %>
      </div>
      <div class="msg_cotainer">
        <%= message.note %>
        <!-- <span class="msg_time">8:40 AM, Today</span> -->
      </div>
    </div>
  <% else %>
    <div class="d-flex justify-content-end mb-4">
      <div class="msg_cotainer_send">
        <%= message.note %>
        <!-- <span class="msg_time_send">8:55 AM, Today</span> -->
      </div>
      <div class="img_cont_msg">
        <% if message.sender.images.attached? %>
          <%= image_tag message.sender.images.first, class: 'rounded-circle img-fluid' %>
        <% else %>
          <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle img-fluid">
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
