<div class="view-profile edit-profile py-5">
  <div class="container">
    <h3>Change Password</h3>
    <%= form_for(@client, url: update_password_admin_user_path(@client)) do |f| %>
      <div class="field">
        <%= f.label :password, "Password" %><br />
        <%= f.password_field :password, :autocomplete => "off", class: "form-control"  %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>
      <div class="text-center col-12 mt-3">
        <button type="submit" class="btn btn-danger btn-lg"><i class="fa fa-heart"></i> Save</button>
      </div>
    <% end %>
  </div>
</div>